#header {
    width: 80%;
    margin: auto;
    text-align: center;
}
#resume {
    padding: 30px;
    width: 75%; 
    margin: auto; 
}
#education {
    padding: 10px;
    float: left;
    width: 40%;
}
#education img {
    max-width: 50%;
    height: auto;
}
#skills {
    border: 2px purple;
    border-radius: 4px;
    width: 40%;
    padding: 10px;
    float: right;
}
#skills img {
    max-width: 50%;
    height: auto;
}
.bodyleft, .bodycenter {
    margin: 10px;
    float: left;
}          
.bodyleft {
    padding-left: 10px;
    border: 2px outset purple;
    width: 25%;
    height: 400px;
}
.bodyleft img {
    max-width: 50%;
    height: auto;
}
.bodycenter {
    border: 2px outset blue;
    text-align: center;
    width: 65%;
    height: 400px;
}
#footer {
    width: 80%;
    border: 2px solid purple;
    margin: auto;
    text-align: center;
    clear: both;
}

h1 {
    background-color: #9232a6;
    border: 8px solid #2b1040;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
h2 {
    font-style: italic;
}
h3 {
    text-decoration: underline;
}
table,th,td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
th {
    text-transform: uppercase;
    font-size: 24px;
}
body {
    background-color: #e4caf8;
    font-family: sans-serif;
    font-size: 24px;
}
ul {
    list-style-type: square;
}
