img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 30px;
}
#header {
    width: 80%;
    border: 2px solid purple;
    margin: auto;
    text-align: center;
}
#resume {
    padding: 30px;
    float: center;
    width: 75%;
}
#education {
    padding: 30px;
    float: left;
    width: 50%;
}
#skills {
    border: 2px purple;
    border-radius: 4px;
    width: 50%;
    padding: 10px;
    margin: 10px;
    float: right;
}
div.bodyleft, div.bodycenter {
    margin:10px; float:left;
}
          
.bodyleft {
    padding-left: 10px;
    border: 2px outset purple;
    width: 20%;
    height: 200px;
}
.bodycenter {
    border: 2px outset blue;
    text-align: center;
    width: 70%;
    height: 200px;
}
#footer {
    width: 80%;
    border: 2px solid purple;
    margin: auto;
    text-align: center;
    clear: both;
}

h1 {
    background-color: #9232a6#2b1040;
    border: 8px solid #2b1040;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
h2 {
    font-style: italic;
}
h3 {
    text-decoration: underline;
}
table,th,td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
th {
    text-transform: uppercase;
    font-size: 24px;
}
body {
    background-color: #e4caf8;
    font-family: sans-serif;
    font-size: 24px;
}
ul {
    list-style-type: square;
}
